<!doctype html>
<html lang="en" xmlns:th="http://www.thymleaf.org" xmlns:sec="http://www.thymleaf.org/extras/spring-security">

<head th:replace="fragments/common :: head('Home')">
</head>

<body>                    <!--BODY 부분-->
<header th:replace="fragments/common :: header">
</header>

<main>
    <a th:href="@{/admin/home}" sec:authorize="hasRole('ROLE_ADMIN')">관리자 페이지</a>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <p class="lead text-muted">애완동물 입양에 관심이 있으신가요?</p>
                <p>
                    <a href="#" th:href="@{/cat/catlist}" class="btn btn-primary my-2">고양이 보러가기</a>
                    <a href="#" th:href="@{/dog/doglist}" class="btn btn-secondary my-2">강아지 보러가기</a>
                </p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <img src="/accountcss/Problem.PNG">
                <br>강아지는 평균 60IQ, 고양이는 평균 50IQ를 가집니다. 고양이는 학습능력을 가지고,<br>
                고양이는 문제해결능력을 가집니다. 물론 슬픔과 기쁨도 느끼는 아이들인데 인간이 막 대할<br>
                 수 있을까요?
                <br>매년 유기동물이 늘어남에 따라서, 양심적으로 유기동물들을 보호해주고 입양까지 도와주는 업체가 있었으면 좋겠습니다.
            </div>
        </div>
    </div>

</main>

<footer class="text-muted py-5" th:replace="fragments/common :: tail">
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
<script src="/docs/5.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>